<header class="bar bar-nav">
    <a id="home" class="btn pull-left" href="#">Home</a>
    <a id="login" class="btn pull-right" >Log In</a>
    <h1 class="title">Home</h1>
</header>
<div id="maincontent" class="content">
    <h1 class="changme">Customize this page here:Output/www/templates/Home</h1>
    <% for(var i=0;i<VIEW.Item.length; i++){ %>
        <a href="#Item/Item/<%=VIEW.Item[i].ID%>" class="view_Item"><%=VIEW.Item[i].Title%></a>
        <p class="view_Item"><%=VIEW.Item[i].Description%></p>
        <p class="view_Item"><%=VIEW.Item[i].Quantity%></p>
        <p> items left</p>
        <p> at</p>
        <p class="view_Item"><%=VIEW.Item[i].Price%></p>
    <% } %>
    <br>

    <p> Create -> Item</p>
</div>