<header class="bar bar-nav">
    <a id="home" class="btn pull-left" href="#">Home</a>
    <a id="login" class="btn pull-right" >Log In</a>
    <h1 class="title">Item</h1>
</header>
<div id="maincontent" class="content">
    <h1 class="changme">Customize this page here:Output/www/templates/Item</h1>
    <% for(var i=0;i<VIEW.Item.length; i++){ %>
        <a href="#Item/Item/<%=VIEW.Item[i].ID%>" class="view_Item"><%=VIEW.Item[i].Title%></a>
        <p class="view_Item"><%=VIEW.Item[i].Description%></p>
        <p class="view_Item"><%=VIEW.Item[i].Quantity%></p>
        <p> items left</p>
        <p> at</p>
        <p class="view_Item"><%=VIEW.Item[i].Price%></p>
    <% } %>
    <br>

    <% for(var i=0;i<VIEW.Similar.length; i++){ %>
        <a href="#Item/Item/<%=VIEW.Similar[i].Similar1.ID%>" class="view_Item"><%=VIEW.Similar[i].Similar1.Title%></a>
        <p class="view_Item"><%=VIEW.Similar[i].Similar1.Description%></p>
        <p class="view_Item"><%=VIEW.Similar[i].Similar1.Quantity%></p>
        <p> items left</p>
        <p> at</p>
        <p class="view_Item"><%=VIEW.Similar[i].Similar1.Price%></p>
        <a href="#Item/Item/<%=VIEW.Similar[i].Similar2.ID%>" class="view_Item"><%=VIEW.Similar[i].Similar2.Title%></a>
        <p class="view_Item"><%=VIEW.Similar[i].Similar2.Description%></p>
        <p class="view_Item"><%=VIEW.Similar[i].Similar2.Quantity%></p>
        <p> items left</p>
        <p> at</p>
        <p class="view_Item"><%=VIEW.Similar[i].Similar2.Price%></p>
        <p> are similar</p>
    <% } %>
    <br>

    <% for(var i=0;i<VIEW.Review.length; i++){ %>
        <p class="view_Review"><%=VIEW.Review[i].Content%></p>
        <p> by</p>
        <a href="#Profile/User/<%=VIEW.Review[i].CreatedBy.ID%>" class="view_User"><%=VIEW.Review[i].CreatedBy.Name%></a>
        <p class="view_User"><%=VIEW.Review[i].CreatedBy.Info%></p>
        <p>On </p>
        <p class="view_Review"><%=VIEW.Review[i].CreateDate%></p>
    <% } %>
    <br>

    <p> Create -> Review</p>
</div>