<header class="bar bar-nav">
    <a id="home" class="btn pull-left" href="#">Home</a>
    <a id="login" class="btn pull-right" >Log In</a>
    <h1 class="title">Profile</h1>
</header>
<div id="maincontent" class="content">
    <h1 class="changme">Customize this page here:Output/www/templates/Profile</h1>
    <% for(var i=0;i<VIEW.User.length; i++){ %>
        <a href="#Profile/User/<%=VIEW.User[i].ID%>" class="view_User"><%=VIEW.User[i].Name%></a>
        <p class="view_User"><%=VIEW.User[i].Info%></p>
    <% } %>
    <br>

    <% for(var i=0;i<VIEW.Review.length; i++){ %>
        <p class="view_Review"><%=VIEW.Review[i].Content%></p>
        <p> by</p>
        <a href="#Profile/User/<%=VIEW.Review[i].CreatedBy.ID%>" class="view_User"><%=VIEW.Review[i].CreatedBy.Name%></a>
        <p class="view_User"><%=VIEW.Review[i].CreatedBy.Info%></p>
        <p>On </p>
        <p class="view_Review"><%=VIEW.Review[i].CreateDate%></p>
    <% } %>
    <br>

</div>