<ul class="table-view">
    <% if(employees !== undefined){ %>
        <% for(var i=0;i<employees.length; i++){ %>
            <li class="table-view-cell media">
              <a href="#employees/<%=employees[i].id%>">
                  <img class="media-object pull-left" src="assets/pics/<%=employees[i].pic%>">
                  <div class="media-body">
                      <%= employees[i].firstName +" "+ employees[i].lastName %>
                      <p><%= employees[i].title %></p>
                  </div>
              </a>
            </li>
        <% } %>
    <% } %>
</ul>
	<div class="page-data">
    
    <form method="post" action="#" class="new-employee"  id="the-form">
        <table cellpadding="11">
		<tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="submit" value="Send me your name!"
            </td>
         </tr>
        <tr>
            <td class="label">Picture url</td><td>: <input type="text" name="pictureurl"></td>
         </tr>
        <tr>
            <td class="label">info</td><td>: <input type="text" name="info"></td>
         </tr>
          <tr>
            <td class="label">name</td><td>: <input type="text" name="name"></td>
         </tr>

        </table>
    </form>
</div>
	
