<header class="bar bar-nav">
    <a id="home" class="icon pull-left" href="#">Home</a>
    <a id="login" class="icon pull-right" >Log In</a>
    <h1 class="title">Home</h1>
</header>
<div id="maincontent" class="content">
    <% for(var i=0;i<VIEW.Friendship.length; i++){ %>
        <a href="#Profile/User/<%=VIEW.Friendship[i].Friendship1.ID%>" class="view_User"><%=VIEW.Friendship[i].Friendship1.Name%></a>
        <p class="view_User"><%=VIEW.Friendship[i].Friendship1.PictureUrl%></p>
        <p class="view_User"><%=VIEW.Friendship[i].Friendship1.Info%></p>
        <a href="#Profile/User/<%=VIEW.Friendship[i].Friendship2.ID%>" class="view_User"><%=VIEW.Friendship[i].Friendship2.Name%></a>
        <p class="view_User"><%=VIEW.Friendship[i].Friendship2.PictureUrl%></p>
        <p class="view_User"><%=VIEW.Friendship[i].Friendship2.Info%></p>
        <p> Friends since </p>
        <p class="view_Friendship"><%=VIEW.Friendship[i].BeganDate%></p>
    <% } %>
    <br>

    <% for(var i=0;i<VIEW.User.length; i++){ %>
        <a href="#Profile/User/<%=VIEW.User[i].ID%>" class="view_User"><%=VIEW.User[i].Name%></a>
        <p class="view_User"><%=VIEW.User[i].PictureUrl%></p>
        <p class="view_User"><%=VIEW.User[i].Info%></p>
    <% } %>
    <br>

    <p> Create -> Post</p>
</div>