<header class="bar bar-nav">
    <a id="home" class="icon pull-left" href="#">Home</a>
    <a id="login" class="icon pull-right" >Log In</a>
    <h1 class="title">PostInfo</h1>
</header>
<div id="maincontent" class="content">
    <% for(var i=0;i<VIEW.Comment.length; i++){ %>
        <p>By </p>
        <a href="#Profile/User/<%=VIEW.Comment[i].CreatedBy.ID%>" class="view_User"><%=VIEW.Comment[i].CreatedBy.Name%></a>
        <p class="view_User"><%=VIEW.Comment[i].CreatedBy.PictureUrl%></p>
        <p class="view_User"><%=VIEW.Comment[i].CreatedBy.Info%></p>
        <p>On </p>
        <p class="view_Comment"><%=VIEW.Comment[i].CreateDate%></p>
        <p class="view_Comment"><%=VIEW.Comment[i].Content%></p>
    <% } %>
    <br>

    <% for(var i=0;i<VIEW.Post.length; i++){ %>
        <a href="#PostInfo/Post/<%=VIEW.Post[i].ID%>" class="view_Post"><%=VIEW.Post[i].Content%></a>
        <p> Created on </p>
        <p class="view_Post"><%=VIEW.Post[i].CreateDate%></p>
        <p>By</p>
        <a href="#Profile/User/<%=VIEW.Post[i].CreatedBy.ID%>" class="view_User"><%=VIEW.Post[i].CreatedBy.Name%></a>
        <p class="view_User"><%=VIEW.Post[i].CreatedBy.PictureUrl%></p>
        <p class="view_User"><%=VIEW.Post[i].CreatedBy.Info%></p>
    <% } %>
    <br>

</div>