<ul class="table-view">
    <% if(employees !== undefined){ %>
        <% for(var i=0;i<employees.length; i++){ %>
            <li class="table-view-cell media">
              <a href="#employees/<%=employees[i].id%>">
                  <img class="media-object pull-left" src="assets/pics/<%=employees[i].pic%>">
                  <div class="media-body">
                      <%= employees[i].firstName +" "+ employees[i].lastName %>
                      <p><%= employees[i].title %></p>
                  </div>
              </a>
            </li>
        <% } %>
    <% } %>
</ul>
