<header class="bar bar-nav">
    <a class="icon pull-right" onclick="hello('google').login(loginHandler);" href="#">LoginHere</a>
    <h1 class="title">Directory</h1>
</header>
<div class="bar bar-standard bar-header-secondary">
    <input class='search-key' type="search"/>
</div>
<div id="maincontent" class="content"></div>
