<header class="bar bar-nav">
    <a id="home" class="icon pull-left" href="#">Home</a>
    <a id="login" class="icon pull-right" >Log In</a>
    <h1 class="title">Profile</h1>
</header>
<div id="maincontent" class="content">
    <% for(var i=0;i<VIEW.User.length; i++){ %>
        <a href="#Profile/User/<%=VIEW.User[i].ID%>" class="view_User"><%=VIEW.User[i].Name%></a>
        <p class="view_User"><%=VIEW.User[i].PictureUrl%></p>
        <p class="view_User"><%=VIEW.User[i].Info%></p>
    <% } %>
    <br>

    <% for(var i=0;i<VIEW.Post.length; i++){ %>
        <a href="#PostInfo/Post/<%=VIEW.Post[i].ID%>" class="view_Post"><%=VIEW.Post[i].Content%></a>
        <p> Created on </p>
        <p class="view_Post"><%=VIEW.Post[i].CreateDate%></p>
        <p>By</p>
        <a href="#Profile/User/<%=VIEW.Post[i].CreatedBy.ID%>" class="view_User"><%=VIEW.Post[i].CreatedBy.Name%></a>
        <p class="view_User"><%=VIEW.Post[i].CreatedBy.PictureUrl%></p>
        <p class="view_User"><%=VIEW.Post[i].CreatedBy.Info%></p>
    <% } %>
    <br>

</div>